.DS_Store
.eslintcache

node_modules
yarn.lock

build
dist
functions

/packages/create-svelte/template/CHANGELOG.md
.svelte-kit

/examples/**/.svelte
/examples/**/build

.netlify
.pnpm-debug.log

.env